@font-face {
    font-family: "supernovabold";
    src: url("../../fonts/supernova-bold-webfont.woff2") format("woff2"),
        url("../../fonts/supernova-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "supernovalight";
    src: url("../../fonts/supernova-light-webfont.woff2") format("woff2"),
        url("../../fonts/supernova-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "supernovaregular";
    src: url("../../fonts/supernova-regular-webfont.woff2") format("woff2"),
        url("../../fonts/supernova-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: supernovaregular;
    color: #fff;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

header {
    overflow: hidden;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .brand {
        transition: all 0.5s ease-in-out;
        text-shadow: 0 0 15px #00ccff;
        text-align: center;

        &.soften {
            filter: blur(80px);
            transform: scale(500%);
            opacity: 0;
        }
    }
}
h1 {
    font-size: 40px;
}

p {
    font-family: supernovabold;
    font-size: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    opacity: 0.9;
    z-index: 5;
    width: 100vw;
    overflow: hidden;
}

.pulse {
    // animation: pulse 10s infinite;
    position: absolute;
    margin: 0 auto;
    top: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
}

.blobs,
.blob {
    display: block;
}

.blobs {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    overflow: hidden;
    opacity: 1;
    perspective: 1000;
}

* {
    transform: translateZ(0);
}

.blob {
    --size: 350px;
    --bg: #000;
    --top: initial;
    --right: initial;
    --bottom: initial;
    --left: initial;
    --delay: 0;
    --blur: 100px;
    --opacity: 0.3;

    position: absolute;
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    width: var(--size);
    height: var(--size);

    opacity: var(--opacity);
    filter: blur(var(--blur));
    mix-blend-mode: multiply;

    will-change: transform;
    transition: opacity 3s ease-in-out, blur 3s ease-in-out;
    animation: wobble 8s infinite steps(150, end);
    animation-delay: var(--delay);
    background: var(--bg);
    border-radius: 50%;
}

.blob.highlight {
    opacity: 0.5;
}

.blob-1 {
    --bg: #240046;
    --delay: 0;
    --size: 75%;
    --top: -30%;
    --left: -30%;
    --opacity: 0.3;
}

.blob-2 {
    --bg: magenta;
    --delay: 2s;
    --size: 80%;
    --top: 30%;
    --left: 30%;
}

.blob-3 {
    --bg: cyan;
    --delay: 4s;
    --size: 80%;
    --right: -15%;
    --top: -15%;
}

.blob-4 {
    --bg: cyan;
    --delay: 4s;
    --size: 80%;
    --top: 0;
    --right: 0;
    --opacity: 0.3;
}

.blob-5 {
    --bg: #240046;
    --delay: 0;
    --size: 80%;
    --top: 0%;
    --opacity: 0.3;
}

.blob-6 {
    --bg: cyan;
    --delay: 1s;
    --size: 65%;
    --bottom: 0%;
    --left: -20%;
}

@keyframes wobble {
    0% {
        transform: translate(0, 0) scale(1) skew(0deg);
    }
    33% {
        transform: translate(60px, -30px) scale(1.1) skew(20deg);
    }
    66% {
        transform: translate(10px, 30px) scale(0.9) skew(-6deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(cyan, 0.05);
    }
    100% {
        box-shadow: 0 0 0 100vh rgba(cyan, 0);
    }
}
